.form-control{
	margin-right: 20%
}

#asd{
	width: 100%;
}

.box{
	background-color: rgb(168, 218, 220,0.1);
    width: auto;
    border: 1px solid rgb(168, 218, 220,1);
    padding: 4%;
    margin: 2%;
}

.ful{
	background-color: rgb(244, 244, 244); 
}